<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sell.css' %}">
    <title>Sell plants</title>
</head>
<body>
    <h2>Sell plants here...</h2>
    <img src="{% static 'll.jpg' %}" alt="">
    <div class="cnt">
    

    <label for="f">Upload the plants photos:</label><br>
    <input type="file"><br><br>
    <label for="de">Description</label><br>
    <textarea name="comment" form="usrform">Enter text here...</textarea>
</div>
</body>
</html>